<!DOCTYPE html>
<html>
<head>
<% include ../public/html/header.html %>
<style>
.article{
 width:425px;
 position:fixed;
 left:50%;
 margin-left:-15em;
}
</style>
</head>
<body class='w3-light-gray w3-padding-16'>
 <article class='article w3-padding-8'>
  <h2 class='w3-text-black w3-center'>Sign up</h2>
  <section class='w3-white w3-round w3-border w3-container'>
   <p class='w3-text-green'>Your account is verified.<br> Click <a href='/user/in'class='w3-text-blue'>Here</a> to Sign in Right now</p>
   <br>
  </section>
  <br>
 </article>
</body>
</html>